---
Language: Cpp
BasedOnStyle: LLVM

# Line length
ColumnLimit: 80

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Pointers
PointerAlignment: Right
DerivePointerAlignment: false

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlignAfterOpenBracket: Align

# Spaces
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# Blocks
IndentCaseBlocks: false
IndentGotoLabels: true
NamespaceIndentation: None
MaxEmptyLinesToKeep: 1

# Functions
BinPackParameters: true
BinPackArguments: true
AllowAllParametersOfDeclarationOnNextLine: true

# Files
InsertNewlineAtEOF: true
...
