---
Language: Cpp
BasedOnStyle: LLVM

# Line length
ColumnLimit: 80
PenaltyBreakComment: 80
PenaltyBreakFirstLessLess: 80
PenaltyReturnTypeOnItsOwnLine: 10000

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Pointers
PointerAlignment: Right
DerivePointerAlignment: false

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlignAfterOpenBracket: BlockIndent

# Spaces
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2

# Blocks
IndentCaseBlocks: false
IndentGotoLabels: true
IndentCaseLabels: true
NamespaceIndentation: None
MaxEmptyLinesToKeep: 1

# Functions
AlwaysBreakAfterReturnType: None
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false

# Files
InsertNewlineAtEOF: true
...
