Language: Cpp
BasedOnStyle: Google

# Line length
ColumnLimit: 80

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty

# Pointers and references
PointerAlignment: Left
DerivePointerAlignment: false

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

# Spaces
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# Blocks
IndentCaseBlocks: true
NamespaceIndentation: None
MaxEmptyLinesToKeep: 1

# Templates
AlwaysBreakTemplateDeclarations: Yes

# Constructors
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# Files
InsertNewlineAtEOF: true
