# ============================================================================ #
#                           Build / Output Artifacts                           #
# ============================================================================ #

build/
builds/
out/
cmake-build-*/

# ============================================================================ #
#                            C / C++ Compiled Files                            #
# ============================================================================ #

# Object files & Prerequisites
*.o
*.obj
*.elf
*.d

# Linker & Precompiled
*.ilk
*.map
*.exp
*.gch
*.pch

# Static & Shared Libraries
*.a
*.lib
*.so
*.so.*
*.dll
*.dylib

# Executables
*.exe
*.out
*.app

# Debug information
*.dSYM/
*.su
*.pdb
*.idb

# ============================================================================ #
#                                 IDE / Editor                                 #
# ============================================================================ #

# CLion & JetBrains
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# VS
.vs/

# ============================================================================ #
#                                 OS-specific                                  #
# ============================================================================ #

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux
.Trash-*
.fuse_hidden*
.nfs*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
~$*.docx
~$*.pptx
~$*.xlsx
